// @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Amatic SC', cursive;
}

#infoBox {
    width: 50%;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: calc(50% - 100px);
    left: 25%;
    display: none;

    #info {
        font-size: 250%;
        font-weight: bold;
        text-align: center;
        line-height: 200px;
    }
}

#logBox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    text-align: center;

    #logText {
        color: white;
        margin-top: 40vh;
        font-size: 250%;
        font-weight: bold;
    }

    #nick {
        width: 300px;
        height: 30px;
        font-size: 150%;
        border-radius: 10px;
        font-weight: bold;
        margin: 15px;
    }

    #connect {
        width: 150px;
        font-weight: bold;
        font-size: 150%;
        border: none;
        border-radius: 5px;
    }
}
#helpBox {
    display: none;

    #helper {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 500px;
        width: 500px;
        background-color: black;
    }

    #helpText {
        position: absolute;
        right: 0px;
        top: 500px;
        height: 50px;
        width: 500px;
        background-color: #222222;
        text-align: center;
        color: white;
        font-size: 200%;
        font-weight: bold;
    }

    #helpPoints {
        position: absolute;
        right: 0px;
        top: 550px;
        height: 50px;
        width: 500px;
        background-color: #222222;
        text-align: center;
        color: white;
        font-size: 200%;
        font-weight: bold;
    }
}

#tutorialBox {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    background-color: #222222;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    display: none;
    font-weight: bold;
    font-size: 160%;
    color: white;
    text-align: center;
    padding: 10px;

    img {
        width: 250px;
    }
}

#buttons {
    position: absolute;
    bottom: 0px;
    right: 0px;

    button {
        font-size: 150%;
        font-weight: bold;
    }
}

#historyBox {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #222222;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    display: none;
    font-weight: bold;
    font-size: 150%;
    color: white;
    text-align: center;

    td {
        border: 1px solid white;
        width: 200px;
    }
}

#promptBox {
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    display: none;
    background-color: #222222;

    p {
        width: 200px;
        font-size: 150%;
        color: white;
        background-color: #222222;
    }

    img {
        width: 200px;
        height: 200px;
    }
}